<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label >Secret Password</label>
      <input type="text" class="form-control" [(ngModel)]="password">
      <p>Your secrect password is {{ password }}</p>
      <button
      class="bnt bnt-primary"
      [disabled]="!allowNewServer"

      (click)="onCreateServer()">Display Details</button>
      <p *ngIf="serverCreated"></p>
      <hr>
      <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button>
      <p *ngIf="showSecret">Your secrect password is correct</p>
    </div>
  </div>
</div>

